---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import SectionTitle from '../components/SectionTitle.astro';

const pageTitle = 'mblcdev | Mi Blog';
const allPosts = await getCollection('posts');
---

<BaseLayout
  title={pageTitle}
  description='Bienvenido a mi blog donde encontraras mas informaci칩n sobre el desarrollo de p치ginas web, sistemas de administraci칩n, programaci칩n y mucho mas.'
>
  <SectionTitle nameSection='Posts' />
  <section
    class='grid grid-cols-1 md:grid-cols-2 gap-4 justify-center items-start mt-5'
  >
    {
      allPosts.map((post) => (
        <BlogPost
          url={`/posts/${post.slug}/`}
          title={post.data.title}
          img={post.data.image.url}
          alt={post.data.image.alt}
        />
      ))
    }
  </section>
</BaseLayout>
