---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import Panda from '../components/Panda.astro';
import SectionTitle from '../components/SectionTitle.astro';

const pageTitle = 'My Astro Learning Blog';
const allPosts = await getCollection('posts');
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <Panda />
  </div>
  <SectionTitle nameSection='Posts' />
  <section class='grid grid-cols-2 gap-4 justify-center items-start mt-5'>
    {
      allPosts.map((post) => (
        <BlogPost
          url={`/posts/${post.slug}/`}
          title={post.data.title}
          img={post.data.image.url}
          alt={post.data.image.alt}
        />
      ))
    }
  </section>
</BaseLayout>
