---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import SectionTitle from '../components/SectionTitle.astro';
import { getCollection } from 'astro:content';
const allPosts = await getCollection('posts');
---

<BaseLayout
  title='mblcdev | Trabajos'
  description='Explora mis trabajos y descubre mis proyectos y experiencias como desarrollador web freelance. Desde soluciones a medida hasta innovaciones digitales, cada trabajo refleja mi compromiso con la calidad y la creatividad en el desarrollo web.'
>
  <SectionTitle nameSection='Trabajos' />
  <section
    class='grid grid-cols-1 md:grid-cols-2 gap-4 justify-center items-start mt-5'
  >
    {
      allPosts.map((post) => (
        <div class='flex flex-col'>
          <BlogPost
            url={`/posts/${post.slug}/`}
            title={post.data.title}
            img={post.data.image.url}
            alt={post.data.image.alt}
          />
          {/* <p class='text-white text-center mt-2'>{post.data.description}</p> */}
        </div>
      ))
    }
  </section>
</BaseLayout>
