---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<meta charset='utf-8' />
<link
  rel='icon'
  href='/icons/mblcdev-dark-144x144.png'
  type='image/x-icon'
  id='favicon'
/>
<link rel='manifest' href='/manifest.webmanifest' />
<meta name='viewport' content='width=device-width' />
<link rel='sitemap' href='/sitemap-index.xml' />
<title>{title}</title>
<meta name='description' content={description} />
<meta name='title' content={title} />
<link rel='canonical' href='https://mblcdev.com/' />
<meta
  name='keywords'
  content='Desarrollador web freelancer, Freelance web developer, Desarrollador fullstack, Desarrollo de páginas web, Sistemas de administración web, Desarrollo web profesional, Creación de sitios web, Programador web independiente, Servicios de desarrollo web, Experto en desarrollo web, Diseño de páginas web, Desarrollo de aplicaciones web, Freelancer de tecnología, Programador web a medida, Soluciones web personalizadas, Consultoría web freelance, Implementación de sistemas web, Desarrollo de software web, Diseño y desarrollo web, Desarrollo de plataformas web, Optimización de sitios web, Mantenimiento de páginas web, Desarrollo de sitios web responsivos, Programación frontend y backend, HTML, CSS, JavaScript, React, Angular, Vue.js, Node.js, Express.js, PHP, Laravel, Django, Ruby on Rails, ASP.NET, MySQL, PostgreSQL, MongoDB, Firebase, API REST, GraphQL'
/>
<meta property='og:type' content='website' />
<meta property='og:url' content={Astro.url} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:image' content='/icons/mblcdev-dark-144x144.png' />
<meta name='robots' content='index, follow' />
<meta name='googlebot' content='index, follow' />
<link rel='apple-touch-icon' href='/icons/mblcdev-dark-144x144.png' />
<meta name='theme-color' content='#ffffff' />
<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3894441864949377"
     crossorigin="anonymous"></script>
<meta property='twitter:image' content='/icons/mblcdev-dark-144x144.png' />
<script is:inline>
  document.addEventListener('astro:page-load', () => {
    function setFavicon(mode) {
      const favicon = document.getElementById('favicon');
      if (mode === 'dark') {
        favicon.href = '/icons/mblcdev-light-144x144.png';
      } else {
        favicon.href = '/icons/mblcdev-dark-144x144.png';
      }
    }
    function detectColorScheme() {
      if (
        window.matchMedia &&
        window.matchMedia('(prefers-color-scheme: dark)').matches
      ) {
        setFavicon('dark');
      } else {
        setFavicon('light');
      }
    }
    window
      .matchMedia('(prefers-color-scheme: dark)')
      .addEventListener('change', (e) => {
        const newColorScheme = e.matches ? 'dark' : 'light';
        setFavicon(newColorScheme);
      });
    document.addEventListener('DOMContentLoaded', detectColorScheme);
  });
</script>
